	<div class="container">
		<div class="logo">
			<%= image_tag("logo.png", size: "260") %>
		</div>
	</div>

<nav id="icon-container">
	<%= link_to image_tag('dashboard/como_jugar.png', :border => 0), {:action => 'how_to_play', :controller => 'welcome'}, {:class => 'dashboard-item'} %>

	<%= link_to image_tag('dashboard/jugar.png', :border => 0), {:action => 'index', :controller => 'welcome'}, {:class => 'dashboard-item'} %>

	<%= link_to image_tag('dashboard/premios.png', :border => 0), {:action => 'prices', :controller => 'welcome'}, {:class => 'dashboard-item'} %>
</nav>