@import "bourbon";
@import "neat";
	
	$grid-columns: 5;
	$max-width: em(1055);
	// $column: golden-ratio(1em, 3);

#icon-container{
	@include outer-container();
	// margin-left: 10%;
	// margin-right: 10%;
	margin-bottom: 10%;

}

.dashboard-item{
		img{
			max-width: 26%;
			height: auto;	
	}
}


.dashboard-item:nth-child(1){
	margin-left: 4em;
	@include shift(1);
	}

.dashboard-item:nth-child(2){
	img{
			max-width: 35%;
		
		}
	}
	.dashboard-item:nth-child(3){
		@include omega();
	img{
			margin-left: 1em;
		}
	}

