// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Trebuchet Ms";
}
$panel-bg: #e5e0e8;
$purple: #7d187b;
$lightpurple: #867fd3;
$mediumpurple: #716da6;
$darkpurple: #524d86;
$grey: #cfc9c6;
$lightpink: #b9009c;
$darkpink: #54297A;
$buttoncolor: #6d1f80;
$gradientTVfirst: #6a1f7b;
$gradientTVsecond: #a02dbb;

	::-webkit-input-placeholder {
	    font-family: "Trebuchet Ms";
	     
	}
	::-moz-placeholder {
	    font-family: "Trebuchet Ms";
	     
	}
	:-ms-input-placeholder {
	    font-family: "Trebuchet Ms";
	    
	}
	input:-moz-placeholder {
	    font-family: "Trebuchet Ms";
	  
	}


h1 {
	color: $purple;
	font-size: 0.8em;
	text-transform: uppercase;
	width: 100%;
	text-align: center;	
	opacity: 0.8;
}

a {
    text-decoration: underline;
    color: $purple;
    font-size: 0.8em;
    opacity: 0.8;
}
p{
	color: $purple;
    font-size: 0.7em;
    opacity: 0.8;
}

input {
    width: 100%;
    color: $purple;
    font-size: 0.6em;
    padding: 0.8em 0.6em 0.8em 0.5em;
    border: 0;
    border: none;
}

.right {
	float: right !important;
}

.centered {
	text-align: center;
	width: 100%;
}

.left {
	text-align: left;
	width: 100%;
}
.rightAlign {
	text-align: right;
	width: 100%;
}

.outlinePurpleButton {
 	border: 1px solid $buttoncolor;
    box-sizing: border-box;
    border-radius: 5px;
	cursor: pointer;
    padding: 0.3em 0.6em;
    float: left;
    font-size: 0.7em;
    color: $buttoncolor;
    box-shadow: 0 0 1em grey;
}

.fillWhiteButton{
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 1em grey;
	padding: 7 0.3em;
	box-shadow: 2px 2px 10px #525252;
	color: $purple;
}

.fillPurpleButton {
	cursor: pointer;
	border-radius: 5px;
	background-color: $buttoncolor;
    background-repeat: no-repeat;
    padding: 1.0em 1.6em;
    color: white;
    font-size: 0.6em;

}

.backButton {
	background-image: url(../images/arrow.png);
	background-size: 9%;
	padding: 0.6em 2.0em;
	background-position: 9.5px 9.7px; 
	background-repeat: no-repeat;
		}

.purplebox {
	background: linear-gradient(137deg, $lightpink 0%, $darkpink 100%) 15%;
	width: 100%;
	height: 100%;
	border-radius: 5;
	padding: 3em 6em; 
	box-shadow: 0 0 1em grey;	
	
}

.view {
	position: absolute;
	left: -50%;
	top: 0;
}
.panel {
    background-color: rgba(229,224,232,0.3);
    box-shadow: 0 0 1em grey;
    padding: 0.4em;
    box-sizing: border-box;
    border-radius: 10;
    width: 100%;
    height: 100%;
}
.panelBorder {
    width: 100%;
    height: 100%;
    border: 3px solid $lightpink;
    box-sizing: border-box;
    padding: 1em 2em 1em 2em;
    overflow: hidden;
    // border-image: linear-gradient(to left, $lightpink 0%, $darkpink 100%) 15%;
    // border-image: url(gradient.png) 1 9 2 stretch;
    border-radius: 5;
    box-shadow: 0 0 1em rgba(185,0,156,0.2),
   				inset 0 0 2em rgba(255,255,255,0.4);
}



.panelFooterContainer {
	margin-top: 1em;
	width: 100%;
}

.content{
		background: linear-gradient(36deg, $gradientTVfirst 0%, $gradientTVsecond 100%) 15%;
		box-shadow: inset 0 0 2em rgba(0,0,0,0.5);
		width: 94%;
		height: 92%;
		margin: 1% 1% 1% 3.5%; 
}



#ViewContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
    overflow: hidden;

    .backgroundimage {
        height: 100%;
        width: 100%;

        div {
        	position: absolute;
        	background-repeat: no-repeat;
            background-position: center;
        }
        #background-top {
            width: 100%;
            height: 60px;
            background-image: url(../images/background-up.png);

        }
        #background-middle {
            top: 60px;
            width: 100%;
            height: 90%;
            background-image: url(../images/background-middle.jpg);
        }
        #background-bottom {
            width: 100%;
            height: 100px;
            bottom: 0;
            background-image: url(../images/background-bottom.png);
        }
    }
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 20%;
        height: auto;
        z-index: 1000;
        cursor: pointer;
    }
    #logodown {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 20%;
        height: auto;
        z-index: 5030;
    }
    #LoginButtonContainer {
        position: absolute;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 10000;

        img {
        	width: 75%;
        }

        p {
            color: white;
            position: absolute;
            top: 9px;
            left: 70px;
           
        }
    }

    #HomeView {
    	width: 60%;
        height: 50%;
        z-index: 2000;
        margin-left: -30%;
        overflow-x: scroll;
        overflow-y: none;
        white-space: nowrap;
        top: 25%;
        img {
            float: left;
            display: inline-block;
            width: 30%;
            cursor: pointer;
        }
        img:nth-child(1) {} img:nth-child(2) {
            width: 40%;
        }
        img:nth-child(3) {}
    }

    #RegisterView {
        margin-left: -24%;
        width: 48%;
        
       	form {
       		width: 100%;
       		float: left;
       	}
       	form .halfContainer {
       		float: left;
       		width: 48%;
       	}

       	.halfContainer:last-child {
			margin-left: 4%;
		}

       	form input {
       		float: left;
       		width: 100%;
       		margin-top: 0.6em;
       		font-size: 0.6em;
       	}
       	#addressContainer, #telContainer{
       		width: 100%;
       	}
       	#addressContainer input{
       		width: 23.5%;
       		margin-right: 2%; 
       	}
       	#addressContainer input:last-child{
       		margin-right: 0; 
       	}
       	#telContainer input{
       		width: 49%;
       		margin-right: 2%; 
       	}
       	#telContainer input:last-child{
       		margin-right: 0; 
       	}

        div#codeinput {
        	float: left;
        	width: 100%;
            background-color: $purple;
            border-radius: 5;
            p {
            	color: white;
            	width: 45%;
            	float: left;
            	text-align: left;
            	font-size: 0.6em;
            	margin-left: 3%;
            	opacity: 0.9 !important;
            }
	
            input {
                width: 44.6%;
                margin-right: 3%;
                padding: 0.5em 0.7em;
                margin-bottom: 0.6em;
                margin-top: 0.6em;    
                font-size: 0.9em;
                float: right;
                letter-spacing: 0.2em;
                text-align: center;
            }
        }

        #accept{
        	float: right;
        	margin-top: 0.5em;
        	color: $purple;
            font-size: 0.6em;
            .underline{
            	text-decoration: underline;
            }
            input {
            	width: auto;
            }
        }
    }

    #WinnerView{
		width: 30%;
		margin-left: -15%;
		
		.purplebox{		
			h1{
				color: white;
				opacity: 0.9 !important;
				font-size: 1.1em;
			}
			p{
				color: white;
				opacity: 0.9 !important;
				line-height: 1.5;	
			}
			.fillWhiteButton{
				width: 20%;
				text-align: center;
				margin-top: 8%;
				margin-left: 40%;
			}
		}
    }

      #LoserView{
		width: 30%;
		margin-left: -15%;
		.purplebox{	
			background: linear-gradient(137deg, $lightpurple 0%, $mediumpurple 50%, $darkpurple 100%) 15% !important; 	
			h1{
				color: white;
				opacity: 0.9 !important;
				font-size: 1.1em;
			}
			p{
				color: white;
				opacity: 0.9 !important;
				line-height: 1.5;	
			}
			.fillWhiteButton{
				width: 20%;
				text-align: center;
				margin-top: 8%;
				margin-left: 39%;
				color: $mediumpurple;
				font-size: 0.8em;
			}
		}
    }

    #PrizeView{
    	width: 38%;
    	min-width: 520px;
    	margin-left: -19%;
    	.panelBorder{
    		padding-left: 0em !important;
	    	#IconAndText{
				background-image: url(../images/price.png);
				background-repeat: no-repeat;
				background-size: 6em 7em;
				background-position: -1em -1em; 
				min-height: 200px;
				float: left;
				width: 50%;
				margin-top: 40px;
				h1{
					margin-left: 70px; 
				}
				p{
					margin-left: 70px;
					width: 220px;  
				}
	    	}
	    	#Image{
				background-image: url(../images/prize-tv.png);
				background-repeat: no-repeat;
				height: 200px;
				background-size: 170px;
				position: relative;
				left: 64%;
				margin-top: 19px;
				margin-left: 15px;
				padding-left: 25px;
				padding-right: 25px;
	    	}
	    }
    	.puntosButton{
    		width: 53px;
    		height: 10%;
    		margin-left: 84.5%;
    		font-size: 0.7em;
    		opacity: 0.9;
    		padding: 0.7em 1.5em 0.8em 1.5em;
    		box-shadow: 0 0 1em grey; 

    	}
    }

    #ConnectView{
    	height: 310px;
    	width: 500px;
    	margin-left: -250px;

    	#IphoneIcon{
		background-image: url(../images/iphone-icon.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 500px;
		height: 25px;
		position: relative;
		left: 50%;
		margin-top: 20px; 
    	}
    	#Iphone{
    		background-image: url(../images/iphone.png);
    		background-repeat: no-repeat;
    		background-size: contain;
    		width: 300px;
    		height: 139px;
    		position: absolute;
    		left: 50%;
    		margin-left: -150px;
    		bottom: 0; 

    		#ShowUrl{
    			position: relative;
    			top: 83px;
    			font-size: 0.7em;
    			left: 48px;
    			opacity: 0.6;
    			width: 170px; 
    		}  		
    	}
    	.noPhoneButton{
			width: 25%;
			box-shadow: 0 0 1em grey;
			padding: 0.5em 0.5em 0.6em 0.7em;
    	}


    	.continueButton{
			width: 2%;
			background-image: url(../images/arrow-white.png);
			background-size: 18%;
			background-position: 14px 9px;
			margin-left: 85%;
			box-shadow: 0 0 1em grey;
			float: right;
			padding: 1.4em;
			margin-top: -23px;
			float: right;
			margin-top: -28px; 
    	}
    }
    
    #LoginView {
        width: 42%;
        margin-left: -21%;
        
        p#intro {
            width: 100%;
            text-align: center;
        }
        
        #loginContentContainer {
        	width: 70%;
        	margin-left: 15%;
        	position: relative;
        }

        #loginFormContainer {
        	height: 60px;
        	width: 100%;
        	position: relative;
        	margin-bottom: 1em;
        }

        #loginFormContainer div{ 
        	float:left;
        	position: absolute;
        	bottom: 0;
        }

        #loginFormContainer > div:first-child {
        	width:82%;
        }
        
        .okButton {
        	position: absolute;
        	bottom: 0;
        	right: -1px;
        }
		
		

        form {
        	margin-bottom: 0;
        }
        
        input:nth-child(2) {
            margin-top: 0.7em;
        }
        
        #PasswordForgotten {
            text-decoration: underline;
            color: $purple;
            font-size: 60%;          
        }
        
        #LoginRegisterContainer {
        	
        	margin-top: 2.5em;
        }
			#RegisterButton{
				background-image: url(../images/register-icon.png);
				background-size:75%;
				padding: 1.5em 2.1em;
				background-position: 3.4px 0.5em; 

			}

        #RegisterNow {
            max-width: 70%;
            float:right;
            margin-top: 0;
            margin-right: 3%;
        }
    }
	
	 #HowToPlayView{
	 	z-index: 1;
	 		#HowToPlayTitle{
				background-image: url(../images/como_jugar_title.png);
				background-size: cover;
				width: 270px;
				height: 120px;
				margin-left: -135px;
	 		}
	 		#dotContainer{
	 			display: flex;
	 			margin-top: 30%;
	 			width: 45px;
	 			margin-top: 50px;
	 			margin-left: -23.5px;

	 			.dot .normal{
	 				background-image: url(../images/circle-stroke.png);
	 				background-repeat: no-repeat;
	 				background-size: 60%;
	 				display: inline-block;
	 				width: 15px;
	 				height: 16px;
	 				cursor: pointer;
	 			}

	 			.dot .active{
	 				background-image: url(../images/circle-fill.png);
	 				background-repeat: no-repeat;
	 				background-size: 60%;
	 				display: inline-block;
	 				width: 15px;
	 				height: 16px;
	 				display: none;
	 				cursor: pointer;
	 			}
	 		}
    	}

    
    #GameView {
    	 width: 100%;
    	 height: 100%;
    	 margin-left: -50%;
	  	#newTv {
		  	background-image: url(../images/tv.png);
		  	background-size: cover;
		  	background-repeat: no-repeat;
		  	background-position:0 -10px;
		    position: absolute;
		    bottom: 37%;
		    left: 50%;
		    min-width: 500px;
		    margin-left: -306px;
		    width: 612px;
		    height: 354px;
		}
	    #tv {    	
	        position: absolute;
	        bottom: 37%;
	        left: 50%;
	        min-width: 500px;
	        margin-left: -306px;
	        width: 612px;
	        opacity: 0.5;
	    }
	    #tablestuff {
	        position: absolute;
	        bottom: 48px;
	        left: 50%;
	        margin-left: -43%;
	        max-width: 80%;
	    }
	    #ButtonContainer {
	        position: absolute;
	        left: 50%;
	        color: white;
	        z-index: 5000;
	        bottom: 6%;
	        width: 86%;
	        margin-left: -38%;
	        height: 30%;
	        .featureButton {
	            width: 33%;
	            height: 100%;
	            float: left;
	            cursor: pointer;
	        }
	        .featureButton:nth-child(2) {
	            margin-left: -5.5%;
	        }
	        // .featureButton:nth-child(2)::after{
	        // 	content: "Control de directo";
	        // 	color: white;
	        // }
	        .featureButton:nth-child(3) {
	            margin-left: -5.5%;
	        }
	        .featureButton .normal {
	            background-image: url(../images/feature_button_side.png);
	            display: block;
	        }
	        .featureButton:hover .normal {
	            display: none;
	        }
	        .featureButton .active {
	            background-image: url(../images/feature_button_side_active.png);
	            display: none;
	        }
	        .featureButton:hover .active {
	            display: block;
	        }
	        .featureButton:nth-child(2) .normal {
	            background-image: url(../images/feature_button_middle.png);
	        }
	        .featureButton:nth-child(2) .active {
	            background-image: url(../images/feature_button_middle_active.png);
	        }
	        .featureButton:nth-child(3) .normal {
	            background-image: url(../images/feature_button_side.png);
	        }
	        .featureButton:nth-child(3) .active {
	            background-image: url(../images/feature_button_side_active.png);
	        }
	        .featureButton:nth-child(3) div {
	            -moz-transform: scaleX(-1);
	            -o-transform: scaleX(-1);
	            -webkit-transform: scaleX(-1);
	            transform: scaleX(-1);
	            filter: FlipH;
	            -ms-filter: "FlipH";
	        }
	        .featureButton div {
	            background-repeat: no-repeat;
	            background-size: 100% 100%;
	            width: 100%;
	            height: 100%;
	        }
	    }
	
   
	}
}
